albumentations>=1.1.0
gdown>=4.4.0
hydra-core>=1.1.1
loguru>=0.6.0
matplotlib>=3.5.1
numpy>=1.22.3
opencv-python>4.5.5.64
pandas>=1.4.2
Pillow>=9.1.0
pytorch-lightning>=1.6.0
seaborn>=0.11.2
segmentation-models-pytorch>=0.2.1
streamlit>=1.8.1
torch>=1.11.0
torchvision>=0.12.0
wandb>=0.12.14
